<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>

     <add name="BLConnection" connectionString="Provider=sqloledb;Data Source=192.168.1.100;Initial Catalog=LedgerBl;&#xD;&#xA;User Id=sa;Password=+940777490860;" />
    <add name="BLPrvConnection" connectionString="Provider=sqloledb;Data Source=192.168.1.100;Initial Catalog=LedgerBl_Prv;&#xD;&#xA;User Id=sa;Password=+940777490860;" />
    <add name="StockConnection" connectionString="Provider=sqloledb;Data Source=192.168.1.100;Initial Catalog=InventoryDB;&#xD;&#xA;User Id=sa;Password=+940777490860;" />
    <add name="GLConnection" connectionString="Provider=sqloledb;Data Source=192.168.1.100;Initial Catalog=AccountS_2019;&#xD;&#xA;User Id=sa;Password=+940777490860;" />
    <add name="AuditConnection" connectionString="Data Source=.;Initial Catalog=AuditLog;User Id=sa;Password=sa@123;" providerName="System.Data.SqlClient"/>
  <!--   <add name="BLConnection" connectionString="Provider=sqloledb;Data Source=192.168.2.10\sqlexpress;Initial Catalog=wkBLP;
User Id=sa;Password=pat;"/> 
      <add name="BLPrvConnection" connectionString="Provider=sqloledb;Data Source=192.168.2.10\sqlexpress;Initial Catalog=wkBLP;
User Id=sa;Password=pat;"/> 
    <add name="StockConnection" connectionString="Provider=sqloledb;Data Source=192.168.2.10\sqlexpress;Initial Catalog=wkINV;
User Id=sa;Password=pat;"/>
<add name="GLConnection" connectionString="Provider=sqloledb;Data Source=192.168.2.10\sqlexpress;Initial Catalog=AccountS_2018;
User Id=sa;Password=pat;" /> 
  <add name="FertilizerIssue.Properties.Settings.ConnectionString"
      connectionString="Provider=SQLOLEDB.1;Data Source=192.168.2.10\sqlexpress;Persist Security Info=True;Password=pat;User ID=sa;Initial Catalog=wkBLP"
      providerName="System.Data.OleDb"<add name="FertilizerIssue.Properties.Settings.ConnectionString"
      connectionString="Provider=SQLOLEDB.1;Data Source=OFFICE;Persist Security Info=True;Password=+940777490860;User ID=sa;Initial Catalog=LedgerBl_Prv"
      providerName="System.Data.OleDb" /> /> -->
  </connectionStrings>
</configuration>