<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="BLConnection" connectionString="Provider=sqloledb;Data Source=192.168.1.100;Initial Catalog=LedgerBl;&#xD;&#xA;User Id=sa;Password=+940777490860;" />
    <add name="BLPrvConnection" connectionString="Provider=sqloledb;Data Source=192.168.1.100;Initial Catalog=LedgerBl_Prv;&#xD;&#xA;User Id=sa;Password=+940777490860;" />
    <add name="StockConnection" connectionString="Provider=sqloledb;Data Source=192.168.1.100;Initial Catalog=InventoryDB;&#xD;&#xA;User Id=sa;Password=+940777490860;" />
    <add name="GLConnection" connectionString="Provider=sqloledb;Data Source=192.168.1.100;Initial Catalog=AccountS_2019;&#xD;&#xA;User Id=sa;Password=+940777490860;" />
    <add name="AuditConnection" connectionString="Data Source=192.168.1.22;Initial Catalog=AuditLog;User Id=sa;Password=sa@123;"
      providerName="System.Data.SqlClient" />
    <add name="AuditReports.Properties.Settings.AuditLogConnectionString"
      connectionString="Data Source=192.168.1.22;Initial Catalog=AuditLog;Persist Security Info=True;User ID=sa;Password=sa@123"
      providerName="System.Data.SqlClient" />
    <add name="AuditReports.Properties.Settings.ConnectionString"
      connectionString="Provider=SQLOLEDB;Data Source=192.168.1.100;Persist Security Info=True;Password=+940777490860;User ID=sa;Initial Catalog=LedgerBL"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>